body, html {
    height: 100%;
    background-color: rgb(255, 236, 242);
}

.intro {
    /* Full height */
    min-height: 100%;

    /* The image used */
    background-image: url("../images/image.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;

    padding-top: 350px;
}

#names {
    font-family: 'Ranga', cursive;
    font-size: 100px;
}

hr{
    height: 1px;
	width: 400px;
	background-color:white;
	color:white;
	border: 0 none;
}
.info{
    font-family: 'Raleway', sans-serif;
}

/* Navbar CSS */
.nav-pills {
    background-color: rgb(255, 147, 165);
}

a {
    color:white;
    font-family: 'Raleway', sans-serif;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black!important;
}

.section2 {
    margin-top: 70px;
    margin-bottom: 30px;
}

.section2-info {
    margin-bottom: 40px;
    font-family: 'Raleway', sans-serif;
}

.bridegroom {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.btn {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 200px;
    font-family: 'Raleway', sans-serif;
}
.invited {
    padding-left: 200px;
}
.section3 {
    max-width: 100%;
    height:auto;
    /* The image used */
    background-image: url("../images/bouquet.jpeg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:200px;
    padding-bottom:200px;
    margin-bottom:100px;
}

.wedding-header {
    margin-bottom: 90px;
}

.venue {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.venue-info {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 100px;
}

.rsvp {
    background-color: rgb(224, 224, 224);
    padding-top:140px;
    margin-top: 150px;
    padding-bottom: 100px;
}

#btn-rsvp {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 147, 165);
    border-style: none;
}

p {
    font-family: 'Raleway', sans-serif;
}